.navBar {
    position: relative;
    background-color: darkgray; 
    top: 0;
    width: 100%;

}
body {
    font-family: 'Prata', serif;
    text-align: center;

}
.carousel, h1{
font-weight: bolder;
text-shadow: black;
}

#aboutMe {
    display: block;
    padding: 100px;
}

#myFace {
    float: left;
    border: 1px;
    border-radius: 50%;
}
  /* .hello {
      text-align: center;
      background-image: url("devices1.jpg"); 
      background-size: 100%;
      background-color: tan;
  } */
/* .webDeveloper {
    position: relative;
    width: 100%;
    margin: auto;
    padding: auto;
} */
.exampleWork{
    padding: 100px;
}
#fs-frm {
    display:block;

}